.form{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.input{
    width: 250px;
    border: salmon;
    border-radius: 5px;
    margin-right: 15px;
}

.input:hover {
     border-color: rgba(87, 2, 184, 0.842);
}
.input:active {
    border-color: rgba(87, 2, 184, 0.842);
}

.buttonSearch{
    width: 100px;
    text-decoration: dotted;
    text-transform: uppercase;
    color: blue;
}
.buttonSearch:hover{
    background-color: dodgerblue;
    color: fuchsia;
}