.name{
    font-size: 30px;
}

.titleReviews{
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-style: initial;
  font-size: 33px;
  margin-left: 36px;
  color: rgb(202, 17, 88);
}

.listReviews{
 list-style: none;
}
.backButton{
    color: aqua;
    font-size: 25px;
    margin-left: 20px;
}

.backButton:hover {
    text-decoration: underline;
    text-transform: uppercase;
    text-overflow: initial;
    text-decoration-color: blueviolet;

}

.author{
font-family: Arial, Helvetica, sans-serif;
font-size: 33px;
font-weight: 700;
color: rgb(235, 0, 0);
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(158, 28, 28);
}