.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    height: 500px;
}
.movieWrapper {
   margin-right: 10px;
   margin: 0 auto;
}
.avatar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 500px;
    margin-right: 30px;
}
.movieTitle{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}